
/* Chart */
#chart-data {
  width: 95%;
  height: 800px;
  margin: 0;
  padding: 2.5%;
}
/* End Chart */

/* Toggle Switch */
.switch {
  position: relative; 
  display: inline-block;
  width: 50px;
  height: 25px;
}

.switch #checkboxChartType { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2.5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

#checkboxChartType:checked + .slider {
  background-color: #2196F3;
}

#checkboxChartType:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

#checkboxChartType:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* End Rounded sliders */

/* Format text */
.container-toggle-group {
  display: flex;
  flex-direction: column;
}

.toggle-group {
  display: flex;
  align-items: center;
  gap: 10px;  
}
/* End format text */

/* End Toggle Switch */
/* Custom CSS For All Page*/
.form-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}

.form-group label {
  margin-right: 10px;
}
.form-select{
  width: 400px;
}
input[type="date"] {
  width: 150px;
}

.container-toggle-group {
  margin-left: 20px;
}

.button-row {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.reload-chart-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
}

.reload-chart-button i {
  margin-right: 10px;
}

.reload-chart-button:hover {
  background-color: #0056b3;
}

.chart-area {
  margin-top: 30px;
}

/* Optional: Style for titles */
.main-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.sub-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.divider {
  margin: 20px 0;
  border-bottom: 1px solid #ddd;
}