
/* Chart */
#chart-data {
  width: 95%;
  height: 800px;
  margin: 0;
  padding: 2.5%;
}
/* End Chart */

/* Toggle Switch */
.switch {
  position: relative; 
  display: inline-block;
  width: 50px;
  height: 25px;
}

.switch #checkboxChartType { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2.5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

#checkboxChartType:checked + .slider {
  background-color: #2196F3;
}

#checkboxChartType:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

#checkboxChartType:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* End Rounded sliders */

/* Format text */
.container-toggle-group {
  display: flex;
  flex-direction: column;
}

.toggle-group {
  display: flex;
  align-items: center;
  gap: 10px;  
}
/* End format text */

/* End Toggle Switch */

/* Button Reload Chart*/
/* Button Styling */
.reload-chart-button {
  background-color: #6373ff; /* Primary button color */
  color: white; /* Text color */
  padding: 12px 24px; /* Button size */
  font-size: 16px;
  border: none; /* Remove default border */
  border-radius: 8px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  transition: all 0.3s ease; /* Smooth hover effect */
}

/* Button Hover and Active State */
.reload-chart-button:hover {
  background-color: #5a55d3; /* Darken the button on hover */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
  transform: translateY(-2px); /* Slightly lift the button */
}

.reload-chart-button:active {
  background-color: #534aba; /* Darker color when clicked */
  transform: translateY(0); /* Return to normal position */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Reduce shadow on click */
}
/* End Button Reload Chart*/